input:focus::placeholder {
  color: transparent;
}

body, main {
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to right, navy , blue);
}

header h1{
  color:azure;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin: 0;
}

#city-name {
  height: 35px;
}

.border-bottom {
  border-width: 3px !important;
}

#history-search-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#search-col {
  padding: 0px;
}

#info {
  padding:0;
}

.weatherIcon {
  width: 50px;
  height: 50px;
}

#uvi {
  min-width: 30px;
}

.card {
  background-color: blue;
  color: azure;
  text-align: center;
  min-width: 18%;
  margin: 5px;
}

.card-body {
  padding: 0;
  margin-left: 15px;
}

.card img {
  margin-bottom: 0.5em;
}


/* media queries */
@media screen and (max-width: 985px) {

  .card {
    width: 48%;
  }
}

@media screen and (max-width: 720px) {
  #info {
    margin-top: 15px;
  }

  .card {
    width: 100%;
  }
}