input:focus::placeholder {
  color: transparent;
}

body, main {
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to right, navy , blue);
}

header h1{
  color:azure;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin: 0;
}

#city-name {
  height: 35px;
}

.border-bottom {
  border-width: 3px !important;
}

#history-search-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#search-col {
  padding: 0px;
}

#info {
  padding:0;
}

.weatherIcon {
  width: 50px;
  height: 50px;
}

.card {
  background-color: navy;
  color: azure;
  text-align: left;
}

.card-body {
  padding: 0;
}

.card img {
  margin-bottom: 0.5em;
}

.weatherIconSmall {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 640px) {
  #info {
    margin-top: 15px;
  }
}